@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior: none;
}
